body {
    background-color: aqua;
}

.eye-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 100px;
    display: block;
}

.eye {
    background-color: ghostwhite;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 100px;
}

.eye-inside {
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.eye-flipped {
    transform: scaleX(-1);
}